body {
  padding: 0;
  margin: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;

}

.visually-hidden{
  display: none;
}

a{
  text-decoration: none;
}

.main-navigation{
  text-transform: uppercase;
  line-height: 30px;

  background-color: #eeeeee;
}

.main-navigation a{
  color: #000000;
}

.main-navigation a:hover{
  color: #fb565a;
}

.main-navigation a:focus{
  text-decoration: underline;
  text-decoration-color: #fb565a;
}

.main-navigation a:active{
  color: #a6a6a6;
}

.site-navigation{
  list-style: none;
}

.slider{
  background-color: #eeeeee;
}

.slider-first{
  background-image: url("../img/index/nerds-index-slide1.png");
  background-repeat: no-repeat;
}

.slider-second{
  background-image: url("../img/index/nerds-index-slide2.png");
  background-repeat: no-repeat;
}
.slider-third{
  background-image: url("../img/index/nerds-index-slide3.png");
  background-repeat: no-repeat;
}

.slider-head{
  font-size: 55px;
  line-height: 55px;
}

.slide-description{
  color: #283136;
}

.slider-button{
  line-height: 18px;
  text-transform: uppercase;

  color: #ffffff;
  background-color: #fb565a;
}

.slider-button:hover,
.slider-button:focus{
  background-color: #e74246;
}

.slider-button:active{
  background-color: #d7373b;
  color: #e37376;
  opacity: 0.3;
}

.service-red{
  background-image: url("../img/index/illustration-1.jpg");
  background-repeat: no-repeat;
}

.service-green{
  background-image: url("../img/index/illustration-2.jpg");
  background-repeat: no-repeat;
}

.service-yellow{
  background-image: url("../img/index/illustration-3.jpg");
  background-repeat: no-repeat;
}

.service-head{
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.service-description{
  color: #283136;
}

.service a{
  line-height: 18px;
}

.service-btn{
  text-transform: uppercase;
  color: #ffffff;
}
.red-btn{
  background-color: #fb565a;
}

.red-btn:hover,
.red-btn:focus{
  background-color: #e74246;
}

.red-btn:active{
  background-color: #d7373b;
  color: #e37376;
  opacity: 0.3;
}

.green-btn{
  background-color: #00ca74;
}

.green-btn:hover,
.green-btn:focus{
  background-color: #00bc6c;
}

.green-btn:active{
  background-color: #009966;
  color: #4dc491;
  opacity: 0.3;
}

.yellow-btn{
  background-color: #efc84a;
}

.yellow-btn:hover,
.yellow-btn:focus{
  background-color: #eab534;
}

.yellow-btn:active{
  background-color: #e5a722;
  color: #edc265;
  opacity: 0.3;
}

.slogan{
  font-size: 45px;
  line-height: 45px;
}

.text h4{
  text-transform: uppercase;
}

.text p{
  color: #283136;
}

.dev-orders li{
  color: #283136;
}

.statistics b{
  text-transform: uppercase;
  font-weight: bold;
}

th{
  font-size: 45px;
  line-height: 10px;
}

td{
  color: #283136;
  line-height: 18px;
}

.clients-list{
  list-style: none;
}

.clients-list img{
  opacity: 0.2;
}

.clients-list img:hover,
.clients-list img:focus{
 opacity: 1;
}

.clients-list img:active{
  opacity: 0.1;
}
.our-contacts{
  background-image: url("../img/index/map-marker.png");
  background-repeat: no-repeat;
}

.our-contacts b{
  text-transform: uppercase;
  font-weight: bold;
  line-height: 30px;
}

.contacts-p{
  line-height: 18px;
  color: #666666;
}

.phone a{
  color: #666666;
}

button.button{
  line-height: 18px;
  text-transform: uppercase;
  border: none;

  color: #ffffff;
  background-color: #fb565a;
}

.icon-list{
  list-style: none;
}

.icon-list a{
background-color: #e1e1e1;
}

.icon-list a:hover,
.icon-list a:focus{
  background-color: #e74246;
}

.icon-list a:active{
  background-color: #d7373b;
}

.icon-list img:active{
  background-color:  #e37376;
  opacity: 0.3;
}

.offer b{
  font-size: 36px;
  line-height: 36px;
  font-weight: medium;
}

.offer p{
  line-height: 22px;
  color: #444444;
}

.modal label{
  line-height: 18px;
  font-weight: bold;
}

.write-us input{
  border: 2px solid #d7dcde;
}

.write-us textarea{
  border: 2px solid #d7dcde;
}

.write-us input:hover{
  border-color: #b4b9bb;
}

.write-us input:focus{
  border-color: #000000;
}

.write-us input:invalid{
  border-color: #e74246;
  color: #e74246;
}

.write-us textarea:hover{
  border-color: #b4b9bb;
}

.write-us textarea:focus{
  border-color: #000000;
}

.main-header-logo2 img:hover,
.main-header-logo2 img:focus{
  opacity: 0.8;
}

.main-header-logo2 img:active{
  opacity: 0.3;
}

.main-title{
  font-size: 55px;
  line-height: 55px;
  font-weight: medium;

  background-color: #eeeeee;
}

legend{
  font-weight:bold;
  text-transform: uppercase;
  line-height: 30px;
}

.filter-value h3{
  text-transform: uppercase;
  font-weight: bold;
  line-height: 30px;
}

.filter-value label{
  line-height: 22px;
  text-transform: uppercase;
}

.filter-grid li{
  list-style: none;
}

.filter-grid label{
  color: #283136;
}

.filter-special li{
  list-style: none;
}

.filter-special label{
  color: #283136;
}

.sort-types{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
}

.sort-types a{
  color: #000000;
  opacity: 0.3;
}

.sort-types a:hover{
  color: #000000;
  opacity: 0.6;
}

.sort-types a:focus,
.sort-types a:active{
  color: #000000;
}

.sort-types li{
  list-style: none;
}

.sort h3{
  text-transform: uppercase;
}

.image-content{
  list-style: none;
}

.layout-menu h3{
  text-transform: uppercase;
  line-height: 30px;
}

.layout-menu p{
  line-height: 18px;
  color: #666666;
}

fieldset label{
  line-height: 20px;
}

.btn-3:hover,
.btn-3:focus{
  background-color: #e74246;
}

.btn-3:active{
  background-color: #d7373b;
}

.btn-text{
  text-transform: uppercase;
  line-height: 18px;
}

.button-2{
   background-color: #eeeeee;
   border: none;

   line-height: 18px;
}

.button-2:hover,
.button-2:focus{
  background-color: #dfdfdf;
}

.button-2:active{
  background-color: #d5d5d5;
  color: #000000;
  opacity: 0.3;
}

.btn-active:focus{
  background-color: #ffffff;
  border: 3px solid #dbdbdb;
}
