body {
  padding: 0;
  margin: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
}

.main-header-logo {
  padding-top: 50px;
}

.logo-catalog {
  cursor: pointer;
}

.logo-catalog img:hover,
.logo-catalog img:focus {
  opacity: 0.8;
}

.logo-catalog img:active {
  opacity: 0.3;
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  text-transform: uppercase;
  line-height: 30px;
  font-weight: 500;

  background-color: #eeeeee;
}

.main-navigation a {
  color: #000000;
  font-weight: 500;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #fb565a;
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  color: #000000;

  opacity: 0.3;
}

.current a {
  padding-bottom: 2px;

  border-bottom: 2px solid #fb565a;

  color: #000000;
}

.current a:hover,
.current a:focus {
  color: #000000;
}

.current a:active {
  color: #000000;

  opacity: 1;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
  justify-content: flex-start;

  max-width: 485px;
  margin: 0;
  margin-right: 40px;
  padding: 0;
  padding-top: 76px;

  list-style: none;
}

.site-navigation li{
  margin-right: 26px;
  margin-left: 20px;
}

.user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  padding: 0;
  padding-top: 76px;
  margin: 0;
  max-width: 120px;

  list-style: none;
}

.user-navigation .busket {
  position: relative;

  padding-left: 38px;
}

.busket::before {
  content: "";

  position: absolute;
  top: 6px;
  left: -3px;

  width: 15px;
  height: 15px;

  background-image: url("../img/index/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site-navigation a,
.user-navigation a {
  display: block;

  vertical-align: middle;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;

  margin: 0;
  padding: 0;

  background-color: #eeeeee;

  overflow: hidden;
}

.slider-wrapper-head {
  width: 1160px;

  overflow: hidden;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 100px;
  z-index: 5;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slider-controls label {
  display: inline-block;

  vertical-align: middle;

  position: relative;

  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";

  position: absolute;
  top: 5px;
  left: 8px;
  z-index: 1;

  width: 17px;
  height: 17px;

  background: #ffffff;

  border-radius: 50%;
}

.slider-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: 3480px;
}

.slider-first {
  width: 1160px;

  background-image: url("../img/index/nerds-index-slide1.png");
  background-repeat: no-repeat;
}

.slider-second {
  width: 1160px;

  background-image: url("../img/index/nerds-index-slide2.png");
  background-repeat: no-repeat;
}

.slider-third {
  width: 1160px;

  background-image: url("../img/index/nerds-index-slide3.png");
  background-repeat: no-repeat;
}

.slider-head {
  margin: 0;
  margin-bottom: 26px;
  max-width: 600px;

  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

.slide-description {
  margin: 0;
  margin-bottom: 39px;
  max-width: 430px;

  color: #283136;
}

.slider-button {
  display: block;

  padding: 16px 0;
  width: 240px;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color: #fb565a;
  border-radius: 3px;
  border: none;

  cursor: pointer;
}

.slider-button:hover,
.slider-button:focus {
  background-color: #e74246;
}

.slider-button:active {
  color: #e37376;

  background-color: #d7373b;

  -webkit-box-shadow: inset 0 3px 0px 0px #c13135;

          box-shadow: inset 0 3px 0px 0px #c13135;
}

.slide {
  padding: 67px 0 80px 0;

  background-position: 99% -11px;
}

.slider-btn-1:checked ~ .slider-wrapper {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

.slider-btn-2:checked ~ .slider-wrapper {
  -webkit-transform: translate(-1160px);
      -ms-transform: translate(-1160px);
          transform: translate(-1160px);
}

.slider-btn-3:checked ~ .slider-wrapper {
  -webkit-transform: translate(-2320px);
      -ms-transform: translate(-2320px);
          transform: translate(-2320px);
}

.slider-btn-1:checked ~ .slider-controls .slider-controls-item-1::before,
.slider-btn-2:checked ~ .slider-controls .slider-controls-item-2::before,
.slider-btn-3:checked ~ .slider-controls .slider-controls-item-3::before {
  content: "";

  position: absolute;
  left: 50%;
  top: 42%;
  z-index: 2;

  margin: -4px;
  width: 4px;
  height: 4px;

  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.service {
  margin-top: 80px;
  margin-bottom: -84px;
  padding-top: 140px;
  padding-bottom: 80px;
  width: 1100px;

  border-bottom: 2px solid #f1f1f1;
}

.service-red {
  margin-top: 80px;
  padding-right: 37px;

  background-image: url("../img/index/illustration-1.jpg");
  background-repeat: no-repeat;
  background-size: 300px;
}

.service-green {
  margin-top: 80px;
  padding-right: 36px;

  background-image: url("../img/index/illustration-2.jpg");
  background-repeat: no-repeat;
  background-size: 300px;
}

.service-yellow {
  margin-top: 80px;
  margin-right: -3px;

  background-image: url("../img/index/illustration-3.jpg");
  background-repeat: no-repeat;
  background-size: 300px;
}

.service-head {
  margin-top: 31px;

  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.service-description {
  margin-top: -7px;

  color: #283136;
}

.service a {
  line-height: 18px;
}

.service-btn {
  display: block;

  margin-top: 31px;
  padding: 16px 0;
  width: 160px;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  border-radius: 3px;
  border: none;

  cursor: pointer;
}

.red-btn {
  background-color: #fb565a;
}

.red-btn:hover,
.red-btn:focus {
  background-color: #e74246;
}

.red-btn:active {
  color: #e37376;

  background-color: #d7373b;

  -webkit-box-shadow: inset 0 3px 0px 0px #c13135;

          box-shadow: inset 0 3px 0px 0px #c13135;
}

.green-btn {
  width: 160px;

  background-color: #00ca74;
}

.green-btn:hover,
.green-btn:focus {
  background-color: #00bc6c;
}

.green-btn:active {
  color: #4dc491;

  background-color: #00aa62;

  -webkit-box-shadow: inset 0 3px 0px 0px #009958;

          box-shadow: inset 0 3px 0px 0px #009958;
}

.yellow-btn {
  width: 160px;

  background-color: #efc84a;
}

.yellow-btn:hover,
.yellow-btn:focus {
  background-color: #eab534;
}

.yellow-btn:active {
  color: #edc265;

  background-color: #e5a722;

  -webkit-box-shadow: inset 0 3px 0px 0px #ce961f;

          box-shadow: inset 0 3px 0px 0px #ce961f;
}

.slogan {
  margin: 0;
  margin-bottom: 32px;

  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.text {
  margin-top: 158px;
  margin-right: 140px;
  width: 700px;
}

.text h4 {
  margin: 0;
  margin-top: 39px;
  margin-bottom: 25px;

  font-weight: 700;
  text-transform: uppercase;
}

.text {
  color: #283136;
}

.dev-orders {
  padding: 0;
  margin: 0;

  list-style: none;
}

.dev-orders li {
  position: relative;

  padding-left: 36px;
  margin-bottom: 24px;

  color: #283136;
}

.dev-orders li::before {
  content: "";

  position: absolute;
  top: 11px;
  left: 2px;

  width: 26px;
  height: 2px;

  background-image: url("../img/index/tire.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.statistics {
  margin-top: 120px;
}

.statistics img {
  position: relative;
  top: 4px;
  left: 0px;
}

.statistics b {
  display: block;

  margin-top: 31px;
  margin-left: 16px;

  font-weight: bold;
  text-transform: uppercase;
}

.statistics-table {
  margin-top: 50px;
  width: 100%;

  border-collapse: collapse;
}

.statistics-th {
  padding-top: 9px;

  font-size: 45px;
  line-height: 10px;
  text-align: left;
}

.statistics-th sup {
  font-size: 27px;
}

.statistics-td {
  margin: 0;
  padding: 0;
  padding-top: 24px;
  width: 33.3%;
  height: 60px;

  line-height: 18px;
  color: #283136;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  padding: 0;
  margin: 0;
  margin-bottom: 81px;
  margin-top: 49px;
  width: 100%;
  height: 180px;

  list-style: none;

  border-bottom: 2px solid #f1f1f1;
  border-top: 2px solid #f1f1f1;
}

li.list-item:not(:last-child) {
  padding-right: 34px;
  padding-top: 22px;
}

.list-item::after {
  content: ' ';

  display: inline-block;

  vertical-align: middle;

  position: relative;
  top: -84px;
  left: 15px;

  width: 2px;
  height: 52px;


  background-color: #eeeeee;
}

.clients-list img {
  opacity: 0.2;
}

.clients-list img:hover,
.clients-list img:focus {
  opacity: 1;
}

.clients-list img:active {
  opacity: 0.1;
}

.our-contacts {
  position: relative;

  overflow: hidden;
}

.our-contacts img {
  position: relative;

  display: block;

  margin: 0 auto;

  width: 1440px;
  max-height: 415px;
}

.our-contacts b {
  margin-left: -1px;

  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.map-image iframe {
  position: absolute;

  margin-top: -416px;
  width: 100%;
  height: 416px;

  border: none;
}

.contacts-addres {
  margin-top: 23px;

  line-height: 18px;
  color: #666666;
}

.phone a {
  color: #666666;
}

.addres-write-us {
  position: relative;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;

  margin-top: -362px;
  padding: 50px;
  height: 309px;
  width: 318px;

  background-color: #ffffff;
}

.write-us-button {
  display: block;

  padding: 16px 0;
  margin-top: 32px;
  width: 165px;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  border-radius: 3px;
  border: none;
}

.write-us-buttonn:hover,
.write-us-button:focus {
  background-color: #e74246;
}

.write-us-button:active {
  color: #e37376;

  background-color: #d7373b;

  -webkit-box-shadow: inset 0 3px 0px 0px #c13135;

          box-shadow: inset 0 3px 0px 0px #c13135;
}

.button {
  padding-right: 27px;
  padding-left: 27px;

  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;

  border: none;
  background-color: #fb565a;

  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;

  -webkit-box-shadow: inset 0 3px 0px 0px #c13135;

          box-shadow: inset 0 3px 0px 0px #c13135;
}

.icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  margin: 0 auto;
  margin-top: 69px;
  margin-bottom: 70px;
  padding: 0;
  width: 260px;

  list-style: none;
}

.icon-list a {
  background-color: #e1e1e1;
}

.list-item:last-child::after {
  display: none;
}

.icon-list .social-button:hover,
.icon-list .social-button:focus {
  background-color: #e74246;
}

.icon-list .social-button:active {
  background-color: #d7373b;

  -webkit-box-shadow: inset 0 3px 0px 0px #c13135;

          box-shadow: inset 0 3px 0px 0px #c13135;
}

.social-button:active path {
  background-color:  #e37376;

  opacity: 0.3;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

  width: 79px;
  height: 78px;

  border-radius: 50%;

  background-color: #e1e1e1;
}

.offer {
  margin-right: 201px;
  margin-top: 76px;
  width: 560px;
}

.offer b {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
}

.offer p {
  margin-top: 10px;

  line-height: 22px;
  color: #444444;
}

.modal {
  position: fixed;
  top: 110px;
  left: 49%;
  z-index: 6;

  display: none;

  margin-left: -466px;
  padding-top: 72px;
  padding-bottom: 84px;
  padding-left: 100px;
  padding-right: 100px;
  width: 760px;

  background-color: #ffffff;
  -webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, 0.8);
          box-shadow: 0 30px 50px rgba(0, 0, 0, 0.8);
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.modal-show {
  display: block;

  -webkit-animation: bounce 0.6s;

          animation: bounce 0.6s;
}

.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.modal h2 {
  font-size: 45px;
  line-height: 45px;
  margin-bottom: 40px;
}

.modal-close {
  position: absolute;
  top: 119px;
  right: 90px;

  width: 21px;
  height: 21px;

  color: rgba(0, 0, 0, 0);
  overflow: hidden;

  border: none;
  background-color: transparent;
  background-image: url("../img/index/close-cross.svg");
  background-repeat: no-repeat;

  opacity: 0.3;
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.1;
}

.modal-form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  width: 760px;
}

.modal-form-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin-bottom: 35px;
  width: 760px;
}

.modal-form-login input[type="text"],
input[type="email"] {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 13px;
  padding-right: 14px;

  width: 360px;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
}

.input-text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.input-email-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  margin-left: 40px;
}

.modal-form-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  width: 760px;
}

.modal-form-comment textarea {
  margin-bottom: 44px;
  padding-top: 10px;
  padding-bottom: 14px;
  padding-left: 13px;
  padding-right: 13px;
}

.modal-close {
  height: 25px;
}

.modal label {
  margin-bottom: 8px;

  line-height: 18px;
  font-weight: bold;
}

.modal-button {
  display: block;

  margin-top: 3px;
  padding: 16px 0;
  width: 260px;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  border-radius: 3px;
  border: none;
}

.write-us input {
  border: 2px solid #d7dcde;
  border-radius: 3px;
}

.write-us textarea {
  width: 100%;

  border: 2px solid #d7dcde;
  border-radius: 3px;

  resize: none;
}

.write-us input:hover {
  border-color: #b4b9bb;
}

.write-us input:focus {
  border-color: #000000;
}

.write-us input:invalid {
  color: #e74246;

  border-color: #e74246;
}

.write-us textarea:hover {
  border-color: #b4b9bb;
}

.write-us textarea:focus {
  border-color: #000000;
}

.write-us input::-webkit-input-placeholder {
  line-height: 18px;
  color: #a9a9a9;
}

.write-us textarea::-webkit-input-placeholder {
  line-height: 18px;
  color: #a9a9a9;
}

.main-header-logo2 img:hover,
.main-header-logo2 img:focus {
  opacity: 0.8;
}

.main-header-logo2 img:active {
  opacity: 0.3;
}

.main-title {
  background-color: #eeeeee;
}

.main-title h1 {
  margin: 0;
  padding: 0;
  margin-top: 67px;
  margin-bottom: 108px;
  margin-left: 215px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.filter-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  margin-top: 56px;
  margin-left: -7px;
}

.filter-item {
  margin: 0;
  padding: 0;
  margin: 56px auto;
  margin-left: 6px;
  width: 260px;

  border: none;
}

.range-filter {
  margin-top: 47px;
  width: 260px;
}

.filter-item legend{
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.range-controls {
  position: relative;

  margin-bottom: 16px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  height: 43px;

  background-color: #f1f1f1;

  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  padding: 0;
  width: 4px;
  height: 4px;

  border: 8px solid #ffffff;
  background-color: #ababab;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
          box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 17px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  margin-top: -3px;

  font-size: 0;
}

.price-controls label {
  display: inline-block;

  vertical-align: middle;

  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  padding: 9px 9px;
  margin-left: 9px;
  width: 61px;

  text-align: center;
  color: #283136;

  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

.fieldset {
  width: 260px;

  border: none;
}

.filter-grid {
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  margin-left: 7px;
}

.filter-grid legend {
  margin-bottom: 15px;

  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.filter-grid ul {
  padding: 0;
  margin: 0;

  list-style: none;
}

.filter-grid li {
  margin-bottom: 20px;
  margin-left: -6px;
  padding-left: 42px;
}

.filter-grid label {
  position: relative;

  display: block;

  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.filter-grid label:hover,
.filter-grid label:focus {
  color: #000000;
}

.filter-grid label:disabled {
  color: #000000;

  opacity: 0.1;
}

.filter-input-radio + label::before {
  content: "";

  position: absolute;
  left: -35px;
  top: -3px;

  width: 26px;
  height: 26px;

  background-image: url("../img/catalog/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-grid-item:hover label:before,
.filter-grid-item:focus label:before {
  background-image: url("../img/catalog/radio-off-focus.svg");
}

.filter-grid-item:disabled label:before {
  opacity: 0.1;
}

.filter-input-radio:checked + label::after {
  content: "";

  position: absolute;
  top: -3px;
  left: -35px;

  width: 26px;
  height: 26px;

  background-image: url("../img/catalog/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-grid-item:hover label:after,
.filter-grid-item:focus label:after {
  background-image: url("../img/catalog/radio-on-focus.svg");
}

.filter-grid-item:disabled label:after {
  opacity: 0.1;
}

.filter-grid label {
  color: #283136;
}

.filter-special {
  padding: 0;
  margin: 0;
  margin-bottom: 32px;
  margin-top: -25px;
  margin-left: 6px;
}

.filter-special legend {
  margin-bottom: 17px;

  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.filter-special ul {
  padding: 0;
  margin: 0;
  margin-left: -8px;

  list-style: none;
}

.filter-special li {
  margin-bottom: 20px;
  padding-left: 45px;
}

.filter-special label {
  position: relative;

  display: block;

  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.filter-special label:hover,
.filter-special label:focus {
  color: #000000;
}

.filter-special label:disabled {
  color: #000000;

  opacity: 0.1;
}

.filter-input-checkbox +label::before {
  content: "";

  position: absolute;
  left: -35px;
  top: -3px;

  width: 26px;
  height: 26px;

  background-image: url("../img/catalog/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-special-item:hover label:before,
.filter-special-item:focus label:before {
  background-image: url("../img/catalog/checkbox-off-focus.svg");
}

.filter-special-item:disabled label:before {
  opacity: 0.1;
}

.filter-input-checkbox:checked + label::after {
  content: "";

  position: absolute;
  top: -3px;
  left: -35px;

  width: 26px;
  height: 26px;

  background-image: url("../img/catalog/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-special-item:hover label:after,
.filter-special-item:focus label:after {
  background-image: url("../img/catalog/checkbox-on-focus.svg");
}

.filter-special-item:disabled label:after {
  opacity: 0.1;
}

.filter-special label {
  color: #283136;
}

.filter-wrapper .btn-text {
  margin-top: -4px;
  margin-left: 7px;
  padding-top: 19px;
}

.main-container {
  margin-left: 140px
}

.sort {
  width: 760px;
}

.sort-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  margin-left: -15px;
  width: 760px;
  min-height: 133px;
}

.sort-types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  padding: 0;
  margin: 0;
  margin-left: auto;

  list-style: none;

  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.sort-types li:not(:last-child) {
  margin-right: 25px;
}

.sort h3 {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.sort-types a {
  color: #000000;

  opacity: 0.3;
}
.sort-types a:focus,
.sort-types a:hover {
  color: #000000;

  opacity: 0.6;
}

.sort-types a:active {
  color: #000000;

  opacity: 1;
}

.sort-types li {
  list-style: none;
}

.sort-up-down {
  margin-left: 47px;
  margin-right: -2px;
  padding-top: 13px;
  height: 24px;
}

.sort-up-down button {
  width: 11px;
  height: 10px;

  color: transparent;

  background-color: transparent;
  background-image: url("../img/catalog/icon-down-dir.png");
  background-repeat: no-repeat;
  border: none;

  overflow: hidden;

  opacity: 0.3;
}

.sort-up-down button:nth-child(2) {
  margin-left: 8px;

  -webkit-transform: rotate(180deg);

      -ms-transform: rotate(180deg);

          transform: rotate(180deg);
}

.sort-up-down button:hover,
.sort-up-down button:focus {
  opacity: 0.6;
}

.sort-up-down button:active {
  opacity: 1;
}

.sort-up-down .arrow-active {
  opacity: 1;
}

.sort-up-down .arrow-active:hover,
.sort-up-down .arrow-active:focus {
  opacity: 1;
}

.head-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  height: 40px;

  background-color: #e9e9e9;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.head-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  padding: 0;
  margin: 0;
  margin-left: 16px;

  list-style: none;
}

.head-btn span {
  margin-right: 9px;
  width: 14px;
  height: 14px;

  background-color: #ffffff;
  border-radius: 50%;
}

.image-content-item:hover .head-wrapper,
.image-content-item:focus .head-wrapper {
  background-color: #4d4d4d;
}

.image-content-item:hover .layout-menu,
.image-content-item:focus .layout-menu {
  opacity: 1;
}

.image-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  padding: 0;
  margin: 0;
  margin-left: -12px;
  margin-bottom: 24px;
  width: 767px;

  list-style: none;
}

.image-content>li {
  margin-right: 40px;
  margin-bottom: 35px;
}

.image-content .image-content-item:nth-child(2n) {
  margin-right: 0;
}

.image-content-item:first-child .layout-menu {
  opacity: 1;
}

.image-content-item:first-child .head-wrapper {
  background-color: #4d4d4d;
}

.layout-menu {
  position: relative;
  z-index: 1;

  margin-top: -236px;
  padding-top: 30px;
  padding-bottom: 42px;
  max-width: 360px;
  max-height: 231px;

  text-align: center;

  background-color: #eeeeee;

  opacity: 0;

  overflow: auto;

  -webkit-transition: opacity 0.4s;

  -o-transition: opacity 0.4s;

  transition: opacity 0.4s;
}

.layout-menu a {
  position: relative;
  top: -3px;

  margin-left: -2px;

  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;

  color: #000000;
}

.layout-menu p {
  margin-top: 12px;
  margin-bottom: 29px;

  line-height: 18px;
  color: #666666;
}

.fieldset label {
  line-height: 20px;
}

.pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin-bottom: 61px;
  margin-left: -12px;
}

.next-btn {
  margin-left: -3px;
}

.btn-3 {
  display: block;

  padding: 16px 0;
  margin: 0 auto;
  width: 200px;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  border-radius: 3px;
  border: none;
}

.btn-3:hover,
.btn-3:focus {
  background-color: #e74246;
}

.btn-3:active {
  background-color: #d7373b;

  -webkit-box-shadow: inset 0 3px 0px 0px #c13135;

          box-shadow: inset 0 3px 0px 0px #c13135;
}

.btn-text {
  display: block;

  padding: 13px 0;
  width: 260px;

  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  border-radius: 3px;
  border: none;
}

.btn-page {
  display: block;

  padding: 13px 17px;
  min-width: 50px;
  height: 50px;

  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  border-radius: 3px;
  border: none;
}

.button-2 {
  margin-right: 12px;

  line-height: 18px;

  background-color: #eeeeee;

  border: none;

  cursor: pointer;
}

.button-2:hover,
.button-2:focus {
  background-color: #dfdfdf;
}

.button-2:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d5d5d5;

  -webkit-box-shadow: inset 0 3px 0px 0px #bfbfbf;

          box-shadow: inset 0 3px 0px 0px #bfbfbf;
}

.btn-active {
  background-color: #ffffff;

  border: 3px solid #dbdbdb;
}

nav.main-navigation {
  display: inline-block;

  vertical-align: middle;

  width: 100%;
}

body {
  display: inline-block;

  vertical-align: middle;

  min-width: 100%;
}

.our-contacts img {
  width:  100%;
}
